spring:
  application:
    name: LinkVault

  datasource:
    url: jdbc:h2:mem:linkvault;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 20
    open-in-view: false

  thymeleaf:
    cache: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

server:
  port: 8088

linkvault:
  file-vault:
    upload-path: ./uploads/photos
    allowed-types: image/jpeg,image/png,image/gif,image/webp
    max-file-size-mb: 10

logging:
  level:
    org.springframework.security: INFO
